@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SpaceGrotesk";
    src: url("../static/font/SpaceGrotesk-Bold.ttf") format("ttf"),
        url("../static/font/SpaceGrotesk-Light.ttf") format("ttf"),
        url("../static/font/SpaceGrotesk-Medium.ttf") format("ttf"),
        url("../static/font/SpaceGrotesk-Regular.ttf") format("ttf");
}

/* * {
    border: 1px solid red;
} */

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

li,
a {
    text-decoration: none;
    list-style: none;
    transition: all 0.3s;
    cursor: pointer;
}

/*------------ Custom Classes ------------*/
.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-shadow {
    box-shadow: 0px 5px 0px 0px #191a23;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.menu-transition {
    transition: transform 0.4s ease-out 0s;
}

.active {
    background-color: #b9ff66;
}
.close {
    background-color: #f3f3f3;
}

/* Flickity custom changes */

.carousel.flickity-enabled.is-draggable {
    border: none !important;
    outline: none !important;
}

.flickity-prev-next-button {
    z-index: 99 !important;
}
.flickity-prev-next-button.previous{
    left: 25%;
    position: absolute;
    top: 105%;
}
.flickity-prev-next-button.next {
    right: 25%;
    position: absolute;
    top: 105%;
}
.flickity-button-icon {
    fill: white;
}
.flickity-button:hover {
    background: #b9ff66;
}
.flickity-button:focus {
    background: none;
}
.flickity-page-dots .dot.is-selected {
    background: #b9ff66;
}
.flickity-page-dots .dot {
    background-color: white;
    height: 12px;
    width: 12px;
}

@media screen and (max-width:768px){
    .flickity-prev-next-button.previous{
        left: 8%;
        top: 104%;
    }
    .flickity-prev-next-button.next{
        right: 8%;
        top: 104%;
    }
}
/* END Flickity changes */
